<!DOCTYPE html>
<html>

<head>
    <title>about</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <img src="/images/test-image.png">
    </div>
    {{>footer}}
</body>

</html>